body{
    margin: 0px;
    background-color: #2b2b2b;
}

.cal-wrap{
    width: 318.4px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
}

.cal-function{
    background-color: #cdcdcd;
}

.cal-button{
    height: 75px;
    width: 75px;
    border: 0px;
}

.cal-button:hover{
    background-color: grey;
}

.cal-display{
    height: 75px;
    width: 100%;
    border: 0px;
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    color: grey;
}

.cal-display-sol{
    height: 50px;
    width: 100%;
    border: 0px;
    text-align: right;
    font-size: 40px;
    font-weight: 400;
}

.cal-sol{
    background-color: #85c1e8;
}

.cal-sol:hover{
    background-color: #1fa7ff;
}